layout: index
description: Gain knowledge on your in-situ simulations
subtitle: Enable data insights without overload.
comments: false
---

ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-check
      h3.intro-feature-title
        a(href="https://gitlab.kitware.com/summarization/the-rundown").link The Rundown
      p.intro-feature-desc Provides a one step build process to run and exercise our Sensei experiments.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-camera
      h3.intro-feature-title
        a(href="https://gitlab.kitware.com/summarization/catalyst").link Catalyst Oscillator
      p.intro-feature-desc Sample oscillator application instrumented with our Catalyst Cinema export
